.Setup {
    display: flex;
    padding-top: 10px;
}

a {
    text-decoration-line: none;
    padding-left: 15px;
    color: black;
}

li {
    padding-top: 10px;
}

.Setup .btn-group{
    margin-left: 85.5%;
}

.Setup .setup_btn {
    border: 1px solid gray;
    color: rgb(81, 81, 81);
    background-color: white;
    width: 80px;
    font-size: 20px;
}

.Setup .logout {
    cursor: pointer;
}